.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 90px 103px 0 134px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 56px auto 0 464px;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 70px;
  min-height: 16px;
  width: 229px;
  min-width: 68px;
  margin: 27px auto 60px 420px;
}

.u-section-1 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 3px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}